.git
.gitignore
.gitlab-ci.yml
.dockerignore
Dockerfile*
docker-compose*.yml

log/*
tmp/*
storage/*
node_modules
coverage
doc
.yardoc
cypress/screenshots
cypress/videos
cypress/downloads

.env
.env.*
!.env.example

spec/examples.txt
sorbet/rbi/gems
sorbet/rbi/dsl
