RAILS_ENV=development
RAILS_MAX_THREADS=5
DATABASE_HOST=db
DATABASE_PORT=3306
DATABASE_NAME=pantria_development
DATABASE_USERNAME=pantria
DATABASE_PASSWORD=pantria
SECRET_KEY_BASE=replace_me_with_bin_rails_secret
ALLOWED_API_ORIGINS=*
APP_HOST=localhost
